{% extends 'Layout.html' %}


{% block content %}
    <div class="container" align="center">
        <h2>Ktonadaje.pl powstało w odpowiedzi na przenoszone do sieci wszelkie formy aktywności. To miejsce dla osób, które:</h2>
        <div class="container" align="center">
            <ul class="list-group">
                <li class="list-group-item">Musiały przenieść swoją działalność zarobkową do sieci</li>
                <li class="list-group-item">Chcą pomagać innym pro-bono lub za wynagrodzeniem</li>
                <li class="list-group-item">Szukają pomocy oraz rzetelnych informacji</li>
                <li class="list-group-item">Chcą zadbać o formę fizyczną</li>
                <li class="list-group-item">Mają ochotę zdobyć nowe umiejętności lub doszlifować posiadane</li>
            </ul>
        </div>


        <h4>
            Cześć! Jesteśmy Bina.work czyli grupą profesjonalistów, współpracujących zdalnie. Nasz kolektwy to entuzjaści programowania, deweloperzy, senior deweloperzy, project managerowie product ownerzy, graficy i copywriterzy ale przede wszystkim wizjonerzy, którzy swoim współdziałaniem sprawiają, że powstają nowe serwisy i aplikacje.
        </h4>
    </div>
{% endblock %}