<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <a class="nav-link bg-light" href="#">Trenerzy osobisci</a>
    <a class="nav-link bg-light" href="#">Instruktorzy jogi</a>
    <a class="nav-link bg-light" href="#">Terapeuci</a>
    <a class="nav-link bg-light" href="#">Zajecia teatralne</a>
    <a class="nav-link bg-light" href="#">Nauczyciele</a>
    <a class="nav-link bg-light" href="#">Korepetytorzy</a>
    <a class="nav-link bg-light" href="#">Aktorzy czytajacy na glos</a>
</nav>
</body>
</html>