{% extends "layout.html" %}

{% block content %} 
    <div class="container" align="center">
        <p class="h4" class="align-content-center">Zobacz wszystkie wydarzenia lub skorzystaj z filtrów i sprawdź tylko interesującą cię kategorię:</p>

        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Host</th>
                    <th scope="col">Kategoria</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><a href="{{ event.url }}">{{ event.title }}</a></td>
                    <td>{{ event.host_name }}</td>
                    <td>
                        {% for category in event.categories %}
                        {{ category }},
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}