<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <script href="static/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <a class="nav-link bg-light" href="#">Trenerzy osobisci</a>
    <a class="nav-link bg-light" href="#">Instruktorzy jogi</a>
    <a class="nav-link bg-light" href="#">Terapeuci</a>
    <a class="nav-link bg-light" href="#">Zajecia teatralne</a>
    <a class="nav-link bg-light" href="#">Nauczyciele</a>
    <a class="nav-link bg-light" href="#">Korepetytorzy</a>
    <a class="nav-link bg-light" href="#">Aktorzy czytajacy na glos</a>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Manifest!</h1>
  <p class="lead">W obliczu pandemii wielu ludzi utracilo mozliwosc wykonywania swojego zawodu. Nasza strona umozliwia kontakt pomiedzy Toba a osoba, ktorej w tej chwili najbardziej potrzebujesz</p>
  <hr class="my-4">
  <p>Zglos swoje zdolnosci, ktorymi chcesz sie podzielic.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Zglaszam sie!!!</a>
</div>
</body>
</html>