<!DOCTYPE html>

<html lang="pl">

<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/twoj.css">
    <script href="static/js/bootstrap.js"></script>
    <meta http-equiv="Content-Language" content="pl">
    <meta charset="UTF-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.ico') }}" type="image/x-icon"/>
    <title>{{ title }}</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="jumbotron" align="center">
        <h1 class="display-4">KtoNadaje</h1>
        <p class="lead">Organizujesz coś online? Chcesz dołączyć? Sprawdź nasza listę!</p>
    </div>
    {% block content %} {% endblock %}
</body>

</html>