<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <script href="static/js/bootstrap.js"></script>
    <meta http-equiv="Content-Language" content="pl" >
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
    <div class="navbar">
        <a class="li-navbar-item" href="{{ url_for('index') }}">KtoNadaje.pl</a>
        <a class="li-navbar-item">Jak streamować</a>
        <a class="li-navbar-item">O nas</a>
        <a class="li-navbar-item">Mój profil</a>
        <a class="li-navbar-item" href="{{ url_for('add_event') }}">Dodaj wydarzenie</a>
        <a class="li-navbar-item" href="{{url_for('login') }}">Zaloguj</a>
        <a class="li-navbar-item" href="{{ url_for('register')}}">Rejestracja</a>
    </div>
    <div class="jumbotron">
        <h1 class="display-2">Ktonadaje.pl</h1>
        <p class="lead">W dobie koronowirusa obserwujemy wzrastający trend przenoszenia się różnego rodzaju aktywności do sieci. Jesteś trenerem, który chce organizowac zajęcia online? A może chcesz posłuchać ciekawego Webinaru i poznać nowych ludzi? To miejsce jest dla Ciebie.</p>
    </div>

    <div class="container" align="center">
        <p class="h4" class="align-content-center">Zobacz wszystkie wydarzenia lub skorzystaj z filtrów i sprawdź tylko interesującą cię kategorię:</p>
    </div>
    {% block content %} {% endblock %}
</body>
</html>