{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="navbar">
    <a class="li-navbar-item" href="{{ url_for('index') }}">KtoNadaje.pl</a>
    <!-- <a class="li-navbar-item" href="{{ url_for('howto_streaming') }}">Jak streamować</a> -->
    <a class="li-navbar-item" href="{{ url_for('about')}}">O nas</a>
    <!-- <a class="li-navbar-item">Mój profil</a> -->
    <a class="li-navbar-item" href="{{ url_for('add_event') }}">Dodaj wydarzenie</a>
    <!-- <a class="li-navbar-item" href="{{url_for('login') }}">Zaloguj</a> -->
    <!-- <a class="li-navbar-item" href="{{ url_for('register')}}">Rejestracja</a> -->
</div>