{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css">    
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">KtoNadaje</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about')}}">O Nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_event') }}">Dodaj</a>
            </li>
            <li class="nav-item">
            {% if current_user.is_authenticated %}
                Zalogowany: {{ current_user.username }} <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a>
            {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Zaloguj</a>
            {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Dołącz do nas</a>
            </li>
        </ul>
    </div>
</nav>

<!-- this modal that shows Flask flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="modal-content">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>