{% extends 'Layout.html' %}

{% block content %}
    <div class="container"> 
        <div class="text-center">
            <p class="h2">Zarejestruj się by dodać wydarzenie i zapisywać wszystkie, które Cię zainteresują!</p>
        </div>
        <form>
            <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                    <label for="ex1">Imię*</label>
                    <input class="form-control" id="ex1" type="text" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                    <label for="ex2">Email*</label>
                    <input class="form-control" id="ex2" type="text" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                    <label for="ex3">Hasło*</label>
                    <input class="form-control" id="ex3" type="text" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                    <label for="ex4">Powtórz Hasło*</label>
                    <input class="form-control" id="ex4" type="text" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" required class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                        <label class="custom-control-label" for="defaultUnchecked">Akceptacja regulaminu*</label>
                    </div>
                </div>
            </div>
                <div class="text-center">
                    Masz już konto? <a class="li-navbar-item" href="{{url_for('login') }}">Zaloguj się</a>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-md-12 text-center">
                        <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-warning">Zarejestruj mnie</button>
                    </div>
                </div>

</form>

    <table class="table table-bordered table-style:" width: 100%">
        <thead>
            <tr>
                <th scope="col">Funkcja </th>
                <th scope="col">Zoom</th>
                <th scope="col">Facebook</th>
                <th scope="col">Youtube</th>
                <th scope="col">Twitch</th>
                <th scope="col">Discord</th>
                <th scope="col">Hangouts</th>
                <th scope="col">MS Teams</th>
            </tr>
            <tr>
                <td>Czas podczas streamu</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Focus na osobę, w trakcie jej wypowiedzi</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie***
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Cena</td>
                <th>
                    Darmowe (do 100 uczestników)
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
            </tr>
            <tr>
                <td>Funkcja nagrywania</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak****
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Przesyłanie plików</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Możliwe ograniczenie liczby uczestników</td>
                <th>
                    Tak*
                </th>
                <th>
                    Tak*
                </th>
                <th>
                    Tak*
                </th>
                <th>
                    -
                </th>
                <th>
                    Tak**
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Whiteboarding (funkcja białej tablicy)</td>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Zmiana tła lub jego rozmycie</td>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak
                </th>
            </tr>
        </thead>

        {% endblock %}
