TABELA - zmiana 12.05


    <table class="table table-bordered table-style:" width: 100%">
        <thead>
            <tr>
                <th scope="col">Funkcja </th>
                <th scope="col"><a href="https://www.zoom.us/">Zoom</a></th>
                <th scope="col"><a href="https://www.facebook.com/">Facebook</a></th>
                <th scope="col"><a href="https://youtube.com/">Youtube</a></th>
                <th scope="col"><a href="https://www.twitch.tv/">Twitch</a></th>
                <th scope="col"><a href="https://discordapp.com/">Discord</a></th>
                <th scope="col"><a href="https://hangouts.google.com/">Google Hangouts</a></th>
                <th scope="col"><a href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/download-app">MS Teams</a></th>
                <th scope="col"><a href="https://www.uberconference.com/">UberConference</a></th>
            </tr>
            <tr>
                <td>Czat podczas streamu</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Focus na osobę, w trakcie jej wypowiedzi</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie***
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Cena</td>
                <th>
                    Darmowe (do 100 uczestników)
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe
                </th>
                <th>
                    Darmowe (do 10 uczestników)
                </th>
            </tr>
            <tr>
                <td>Funkcja nagrywania</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak****
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Przesyłanie plików</td>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Możliwe ograniczenie liczby uczestników</td>
                <th>
                    Tak*
                </th>
                <th>
                    Tak*
                </th>
                <th>
                    Tak*
                </th>
                <th>
                    -
                </th>
                <th>
                    Tak**
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Tak
                </th>
            </tr>
            <tr>
                <td>Whiteboarding (funkcja białej tablicy)</td>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
            </tr>
            <tr>
                <td>Zmiana tła lub jego rozmycie</td>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    -
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Nie
                </th>
                <th>
                    Tak
                </th>
                <th>
                    Nie
                </th>
</thead>