{% extends 'layout.html' %}
{% from "_formhelper.html" import render_field %}

{%  block content %}
<div class="container">
    <div class="text-center">
        <p class="h2">Zarejestruj się</p>
        <form method=post>
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
{#                {{ render_field(form.accept_tos) }}#}
            </dl>
            <p><input type=submit value=Register>
        </form>
    </div>
</div>
{% endblock %}
