{% extends 'layout_wtform_tut.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms-wtform-tut.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
    <h2 class="title">Dodaj wydarzenie</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="form-field">
                <label>Tytuł</label>
                {{ form.event_title }}
                {% if form.event_title.errors %}
                    <ul class="errors">
                        {% for error in form.event_title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <label>Nazwa / imię organizatora</label>
                {{ form.host_name }}
                {% if form.host_name.errors %}
                    <ul class="errors">
                        {% for error in form.host_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <label>Link do wydarzenia</label>
                {{ form.event_link }}
                {% if form.event_link.errors %}
                    <ul class="errors">
                        {% for error in form.event_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <label>Planowana data i godzina</label>
                <div class="input-group date">
                    {{ form.start_datetime(class="datetime-picker") }}
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Kategorie</label>
            <div class="form-field">
                {{ form.event_categories }}
                <!-- <select class="categ-select" multiple>
                    {% for category in form.event_categories.choices %}
                        <option value="{{category}}">{{category[1]}}</option>
                    {% endfor %}
                </select> -->
                {% if form.event_categories.errors %}
                    <ul class="errors">
                        {% for error in form.event_categories.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <label>Czas trwania (w godzinach)</label>
                {{ form.estimated_duration }}
                {% if form.estimated_duration.errors %}
                    <ul class="errors">
                        {% for error in form.estimated_duration.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="form-field text">
                <label>Opis wydarzenia</label>
                {{ form.event_description }}
                {% if form.event_description.errors %}
                    <ul class="errors">
                        {% for error in form.event_description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form.submit() }}
        </div>

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/i18n/defaults-pl_PL.min.js"></script>
<script type="text/javascript">
    moment.updateLocale('pl');
    $(function () {
        $('.datetime-picker').datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
            defaultDate: new Date(),
        });
    });
    // $(function () {
    //     $('.categ-select').selectpicker();
    // });
</script>
{% endblock %}